/* base styles*/
#form {
    background-color: white;
    font-family: 'Roboto Slab', serif;
    border-radius: 0.4em 0.4em 0 0;
    clear: both;
    z-index: 99;
    justify-content: center;
    align-items: center;
    z-index: 99;
    width: 100%;
    height: auto;
    padding: 0 2% 0% 2%;
    /* margin: 0 auto; */
    transition: all .5s ease-in-out;
    overflow: auto;
}

.form {
    display: block;
}

.formBtnClose {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    margin-top: 1%;
}

.btnClose {
    height: 2rem;
    width: 2rem;
    border: none;
    background: transparent;
    cursor: pointer;
}

.btnClose > img {
    width: 100%;
    height: 100%;
}

.form-text-wrapper {
    position: relative;
    top: 1%;
    width: 100%;
    font-size: 0.85rem;
    text-align: center;
    align-content: center;
    margin: 1% 0 2% 0;
}

.form-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

#elForm {
    width: 100%;
}

#formFields {
    width: 100%;
    position: relative;
    /* margin: 0 auto; */
}

.formTextFieldArea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.formList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.formLargeText {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.form-c1, .form-c2, .form-c3 {
    width: 100%;
    display: flex;
}

.helperCenter {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.formCheckbox {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#ToS {
    position: relative;
    display: inline;
    
    justify-content: center;
    align-content: center;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
       appearance: none;
       margin: 0;
       font: inherit;
       color: currentColor;
       width: 1.15em;
       height: 1.15em;
       border: 0.15em solid currentColor;
       border-radius: 0.15em;
       transform: translateY(45%);
       display: grid;
       place-content: center;
}

.ToS__label {
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    /* line-height: .2px; */
    margin: .5%;
}

#ToS::before {
    content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
 
  background-color: CanvasText;
}

#ToS:checked::before {
    transform: scale(1);
}

#ToS:focus {
    outline: max(1px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.formEnviarBtn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.submitBtn {
    position: relative;
    display: block;
    margin: 1% auto;
    width: 30%;
    min-width: 200px;
    height: 40px;
    margin-bottom: 1%;
    border-radius: 18px;
    background-color: var(--orange);
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  .submitBtn:hover {
    background-color: orangered;
    border-color: #fff;
    transition: all 0.1s ease-in-out;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    margin: 1% auto;
    border: solid 2px #424242;
    border-top: solid 2px #1c89ff;
    border-radius: 50%;
    opacity: 0;
  }
  
  .check {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate3d(-4px, 30px, 0);
    opacity: 0;
  }
  .check span:nth-child(1) {
    display: block;
    width: 10px;
    height: 2px;
    background-color: var(--orange);
    transform: rotate(45deg);
  }
  .check span:nth-child(2) {
    display: block;
    width: 15px;
    height: 2px;
    background-color: var(--orange);
    transform: rotate(-45deg) translate3d(9.5px, -4px, 0);
    transform-origin: 100%;
  }
  
  .loader.active {
    -webkit-animation: loading 2s ease-in-out;
            animation: loading 2s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  
  .check.active {
    opacity: 1;
    transform: translate3d(-4px, 4px, 0);
    transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
    transition-delay: 0.2s;
  }
  
  @-webkit-keyframes loading {
    30% {
      opacity: 1;
    }
    85% {
      opacity: 1;
      transform: rotate(1080deg);
      border-color: #262626;
    }
    100% {
      opacity: 1;
      transform: rotate(1080deg);
      border-color: var(--orange);
    }
  }
  
  @keyframes loading {
    30% {
      opacity: 1;
    }
    85% {
      opacity: 1;
      transform: rotate(1080deg);
      border-color: #262626;
    }
    100% {
      opacity: 1;
      transform: rotate(1080deg);
      border-color: var(--orange);
    }
  }


.bottomTextWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.bottomText {
    color: var(--orange);
    font-weight: bold;
    font-size: calc(0.6rem + 0.4vw);
}

/* related to the input elements */

.input {
    position: relative;
    width: 100%;
    margin: .75rem 1%;
  }
  .input__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: transparent;
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }
  .input__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 2px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);
    font-size: calc(0.6rem + 0.4vw);
  }
  .input__field:not(:-moz-placeholder-shown) + .input__label {
    transform: translate(0.25rem, -65%) scale(0.8);
  background: white;
  color: var(--orange);
  }
  .input__field:not(:-ms-input-placeholder) + .input__label {
    transform: translate(0.25rem, -65%) scale(0.8);
  background: white;
  color: var(--orange);
  }
  .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    transform: translate(0.25rem, -65%) scale(0.8);
  background: white;
  color: var(--orange);
  }

/* related to the list elements */
.list {
    position: relative;
    width: 98%;
    margin: 2% 0;
  }
  .list__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: transparent;
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }
  .list__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 2px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);
    font-size: calc(0.6rem + 0.4vw);

  }
  .list__field:not(:-moz-placeholder-shown) + .list__label {
    transform: translate(0.25rem, -65%) scale(0.8);
  background: white;
  color: var(--orange);
  }
  .list__field:not(:-ms-list-placeholder) + .list__label {
    transform: translate(0.25rem, -65%) scale(0.8);
  background: white;
  color: var(--orange);
  }
  .list__field:focus + .list__label, .list__field:not(:placeholder-shown) + .list__label {
    transform: translate(0.25rem, -65%) scale(0.8);
  background: white;
  color: var(--orange);
  }

/* textArea */
.textArea {
    position: relative;
    width: 98%;
    margin: 2% 0;
}
.textArea__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: transparent;
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
.textArea__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 2px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: black;
  background: transparent;
  border-radius: var(--size-radius);
  resize: none;
  font-size: calc(0.6rem + 0.4vw);

}
.textArea__field:not(:-moz-placeholder-shown) + .textArea__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  background: white;
  color: var(--orange);
}
.textArea__field:not(:-ms-textArea-placeholder) + .textArea__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  background: white;
  color: var(--orange);
}
.textArea__field:focus + .textArea__label, .textArea__field:not(:placeholder-shown) + .textArea__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  background: white;
  color: var(--orange);
}

/* form whatsapp */
.formWhatsapp {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    margin: 1% auto;
    position: relative;
}

.formWhatsappLink {
    background-color:#25d366;
    text-decoration: none;
    min-width: 200px;
    width: 30%;
    min-width: 200px;
    height: 40px;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}


.formWhatsappFa {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);
    color: #fff;
	text-align: center;
    font-weight: 300;
    font-size: calc(0.7rem + 0.4vw);
    cursor: pointer;
}


@media screen and (max-width: 1024px) {

  .form-text-wrapper {
      position: relative;
      top: 1%;
      width: 100%;
      font-size: 0.5rem;
      text-align: center;
      align-content: center;
      margin: 1% 0 2% 0;
  }
}

.hidden {
    display: none;
}