:root {
    --orange: #ff6600;
    --black: #4d4d4d;
    --grey: #808080;
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-l: 2.5rem;
    --space-xl: 5rem;
    --primary-color: #ff6600;
    --gray-900: hsl(24, 3%, 24%);

    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
}
*::-webkit-scrollbar:vertical {
    width: 7px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(255, 102, 0, 0.8);

}
*::-webkit-scrollbar-track { 
    background-color: white; 
    /* border-radius: 8px;  */
} 

.orangeText {
    color: var(--orange);
}