@import url(style.css);


/* base styles*/
#form {
    background-color: white;
    font-family: 'Roboto Slab', serif;
    border-radius: 0.4em;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 9;
    top: 40%;
    left: 56%;
    width: 32vw;
    height: 70vh;
}

.form-text-wrapper {
    position: absolute;
    font-size: 0.85rem;
    text-align: center;
    margin: 3% 3%;
}

.form-wrapper {
    position: absolute;
    width: 90%;
    margin-top: 17%;
    margin-left: 5%;
    margin-right: 5%;
}


/* related to the input elements */

.input {
    position: relative;
    margin: auto auto;
}

.input__label {
    position: absolute;
    display: inline;
	 left: 0;
	 top: 0;
	 padding: calc(var(--size-bezel) * 0.25) calc(var(--size-bezel) * .5);
	 margin: calc(var(--size-bezel) - 0.55rem) calc(var(--size-bezel) * .70);
	 background: var(--orange);
	 white-space: nowrap;
	 transform: translate(0, 0);
	 transform-origin: 0 0;
	 background: white;
	 transition: transform 120ms ease-in;
	 font-weight: bold;
	 /* line-height: 1.2; */
}

.input__field {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    border: 2px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    margin: 2% auto;
    color: currentColor;
    background: white;
    border-radius: var(--size-radius);
    font-size: 0.85rem;;
    font-weight: bold;
}

/* input element behaviour */

.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    transform: translate(0.25rem, -75%) scale(0.8);
    color: var(--orange);
}

/* related to the list elements */
.list {
    position: relative;
}

.list__field {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    border: 2px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    margin: 2% auto;
    color: currentColor;
    background: white;
    border-radius: var(--size-radius);
    font-size: 0.85rem;;
    font-weight: bold;
}

.list__label {
    position: absolute;
    display: inline;
	 left: 0;
	 top: 0;
	 padding: calc(var(--size-bezel) * 0.25) calc(var(--size-bezel) * .5);
	 margin: calc(var(--size-bezel) - 8px) calc(var(--size-bezel) * .5);
	 background: var(--orange);
	 white-space: nowrap;
	 transform: translate(0, 0);
	 transform-origin: 0 0;
	 background: white;
	 transition: transform 120ms ease-in;
	 font-weight: bold;
	 line-height: 1.2;
}

/* list behaviour */
.list__field:focus + .list__label, .list__field:not(:placeholder-shown) + .list__label {
    transform: translate(0.5rem, -75%) scale(0.8);
    color: var(--orange);
}