/* adjust to wide with and small height */
.banner{
    background-image:url(../images/banner/656852.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.container {
    display: table-cell;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
}

/* Elements inside mainSection */

.simule {
    position: absolute;
    width: 100%;
    vertical-align: bottom;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btnSimule {
    color: white;
    font-size: calc(1vw + 0.5rem);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--orange);
    padding: calc(0.8vw + 0.2rem) calc(0.5vw + 1.7rem);
    border-radius: 0.4em;
}

.revision {
    padding: calc(0.4vw + 0.1rem) calc(0.25vw + 0.8rem);
    font-size: calc(0.5vw + 0.5rem);
}

.banner-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px var(--orange);
    display: flexbox;
    bottom: 40%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.banner-title > h1,h3 {
    margin-left: 10%;
    margin-right: 10%;
}

.orangeText {
    color: var(--orange);
    text-shadow: 2px 1px black;
}

.banner-title h1{
    font-size: calc(2vw + 1rem);
}

.banner-title h3 {
    font-size: calc(1vw + 0.5rem);
    padding-top: 0.2vh;
}

/* Elements behaviour */

.btnSimule:hover{
    cursor: pointer;
    background-color: orangered;
    transition: background-color 0.2s ease-in-out;
}

.btnEntrar:hover{
    cursor: pointer;
    background-color: orangered;
    transition: background-color 0.2s ease-in-out;
}