@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/* For mobile version: 1240 width */
:root {
    --orange: #ff6600;
    --black: #4d4d4d;
    --grey: #808080;

    --size-bezel: 0.5rem;
    --size-radius: 4px;

    font-size: (0.6rem + 0.4vw);
}


* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

















