@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/* For mobile version: 1240 width */
:root {
    --orange: #ff6600;
    --black: #4d4d4d;
    --grey: #808080;

    --size-bezel: 0.5rem;
    --size-radius: 4px;

    font-size: (0.6rem + 0.4vw);
}


* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}



.banner{
    background-image:url(../images/banner/656852.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.container {
    display: block;
    position: relative;
    height: 100%;
    justify-content: center;
}

.navbar {
    position: relative;
    z-index: 10;
    text-decoration: none;
    color: transparent;
    background-color: rgba(240,255,255,0.1);
    border-bottom: 1px solid rgba(240,255,255,0.1);
    height: auto;
}

.logodiv {
    position: absolute;
    top: 1%;
    left: 41%;
    right: 41%;
}

.menu{
    width: 100vw;
    height: auto;
}



.menu > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu > ul > li {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 3vw;
    margin-right: 3vw;
    height: auto;
}

.menu > ul > li > a {
    /* color: var(--orange); */
    display: table-cell;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: calc(1rem + 0.3vw);
}


.logoSpace > a > img{
    width: calc(9rem + 3vw);
    padding-top: 2%;
}

.link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--orange);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.link:hover::after,
.link:focus::after {
    cursor: pointer;
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.link::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
.link:hover::after,
.link:focus::after{
    transform: scale(1);
  }

.btnEntrar {
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--orange);
    padding: 0.7rem 2.2rem;
    border-radius: 0.4em;
}


.simule {
    position: relative;
    width: 100%;
    margin-top: calc(5vh + 2%);
    display: flex;
    justify-content: center;
    align-content: center;
}

.btnSimule {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--orange);
    padding: 1rem 2.2rem;
    border-radius: 0.4em;
}

.btnSimule:hover{
    cursor: pointer;
    background-color: orangered;
    transition: background-color 0.2s ease-in-out;
}

.btnEntrar:hover{
    cursor: pointer;
    background-color: orangered;
    transition: background-color 0.2s ease-in-out;
}

.banner-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px var(--orange);
    display: flexbox;
    margin-top: calc(5vh + 10%);
    position: relative;
    text-align: center;
}

.banner-title > h1,h3 {
    margin-left: 10%;
    margin-right: 10%;
}

.orangeText {
    color: var(--orange);
    text-shadow: 2px 1px black;
}

.banner-title h1{
    font-size: 3rem;
}

.banner-title h3 {
    font-size: 1.5rem;
    padding-top: 0.2vh;
}

#form {
    background-color: white;
    font-family: 'Roboto Slab', serif;
    border-radius: 0.4em;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 9;
    top: 40%;
    left: 56%;
    width: 32vw;
    height: 70vh;
}

.form-text-wrapper {
    position: absolute;
    font-size: 0.85rem;
    text-align: center;
    margin: 3% 3%;
}

.form-wrapper {
    position: absolute;
    width: 90%;
    margin-top: 17%;
    margin-left: 5%;
    margin-right: 5%;
}

.input {
    position: relative;
    margin: auto auto;
}

.input__label {
    position: absolute;
    display: inline;
	 left: 0;
	 top: 0;
	 padding: calc(var(--size-bezel) * 0.25) calc(var(--size-bezel) * .5);
	 margin: calc(var(--size-bezel) - 0.55rem) calc(var(--size-bezel) * .70);
	 background: var(--orange);
	 white-space: nowrap;
	 transform: translate(0, 0);
	 transform-origin: 0 0;
	 background: white;
	 transition: transform 120ms ease-in;
	 font-weight: bold;
	 /* line-height: 1.2; */
}

.input__field {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    border: 2px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    margin: 2% auto;
    color: currentColor;
    background: white;
    border-radius: var(--size-radius);
    font-size: 0.85rem;;
    font-weight: bold;
}

.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    transform: translate(0.25rem, -75%) scale(0.8);
    color: var(--orange);
}

.list {
    position: relative;
}

.list__field {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    border: 2px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    margin: 2% auto;
    color: currentColor;
    background: white;
    border-radius: var(--size-radius);
    font-size: 0.85rem;;
    font-weight: bold;
}

.list__label {
    position: absolute;
    display: inline;
	 left: 0;
	 top: 0;
	 padding: calc(var(--size-bezel) * 0.25) calc(var(--size-bezel) * .5);
	 margin: calc(var(--size-bezel) - 8px) calc(var(--size-bezel) * .5);
	 background: var(--orange);
	 white-space: nowrap;
	 transform: translate(0, 0);
	 transform-origin: 0 0;
	 background: white;
	 transition: transform 120ms ease-in;
	 font-weight: bold;
	 line-height: 1.2;
}


.list__field:focus + .list__label, .list__field:not(:placeholder-shown) + .list__label {
    transform: translate(0.5rem, -75%) scale(0.8);
    color: var(--orange);
}

.serviço {
    background-color: var(--orange);
    position: relative;
    width: 100vw;
    height: 50vh;
}

.vantagens {
    background-color: var(--grey);
    position: relative;
    width: 100vw;
    height: 120vh;
}

.sobre {
    background-color: var(--black);
    position: relative;
    width: 100vw;
    height: 100vh;
}

.encontre-nos {
    background-color: var(--grey);
    position: relative;
    width: 100vw;
    height: 80vh;
}

