* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

.banner{
    background-image:url(../images/BG-Banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* display: flex; */
    position: absolute;
}

.container {
    display: block;
    position: relative;
    height: 100%;
}

.topbar {
    position: relative;
    display: inline-flex;
    width: 100%;
}

.topbar img{
    width: 170px;
    height: auto;
    padding-left: 5vw;
}

.topbar nav{
    width: 100%;
    text-align: right;
    padding-top: 2.5vh;
    padding-right: 5vw;
}

a {
    all: unset;
}

li {
    color: white;
    display: inline;
    text-align: center;
    padding: 10px;
}

li:hover{
    cursor:pointer;
}

.banner-title {
    color: white;
    position: absolute;
    bottom: 0;
    left: 5vw;
}

.serviço {
    background-color: blue;
    top: 100vh;
    position: absolute;
    width: 100vw;
    height: 50vh;
}