@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/* For mobile version: 1280 x 800 width */
:root {
    --orange: #ff6600;
    --black: #4d4d4d;
    --grey: #808080;

    --size-bezel: 0.5rem;
    --size-radius: 4px;

    font-size: (0.6rem + 0.4vw);
    scroll-behavior: smooth;
    max-width: 100%;
}


* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: 'Roboto Slab', serif;
    scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
}
*::-webkit-scrollbar:vertical {
    width: 7px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(255, 102, 0, 0.8);

}
*::-webkit-scrollbar-track { 
    background-color: white; 
    /* border-radius: 8px;  */
} 

body {
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#scrollToTopBtn {
    background-color: var(--orange);
    position: fixed;
    bottom: 80px;
    right: -300px;
    z-index: 99;
    border: none;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 2rem;
    line-height: 3rem;
    width: 3rem;
    transition: all 0.3s ease;
}

.float{
	position:fixed;
	width:3rem;
	height:3rem;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
  z-index:100;
  transition: all 0.3s ease;

}

.my-float{
	margin-top: 0.65rem;
}

